# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment folders (if environment is local)
env/
venv/
.s/

# Ignore system files
.DS_Store
